* {
  /*css reset*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
  
h1 {
  text-align: center;
}
.secret-div {
  text-align: center;
  display: none;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #08222c;
}

#self-intro {
  background-color: #557c88d8;
  margin: auto;
  width: 70%;
  padding: 3em;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: 0px 3px 16px 1px #44444499;;
}

#intro-text {
  padding-right: 1em;
}

#me {
  width: 280px;
  height: auto;
  border-radius: 50%;
  border: 4px solid #006D75;
}

#buttons {
  display: flex;
  justify-content: flex-start;
}

.bttn {
  padding: 8px;
  margin-right: 2em;
  border-radius: 8px;
  border: 2px solid white;
  width:fit-content;
}

h1 {
  font-size: 108px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

#self-intro p {
  padding: 2em 0;
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

#projects {
  text-align: center;
}
#project-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-gap: 2em 1em;
  justify-items: center;
  align-items: center;
}

#projects h2 {
  padding: 2em 0;
}

.project-item {
  background-color: #daecf0;
}

#clubs h2 {
  padding: 1em 0;
  text-align: center;
}

#clubs {
  padding: 1em 10vw;
}

#clubbos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.club-holder {
  width: 100%;
  padding: 1em 0;
}

.left {
  text-align: left;
  align-items: flex-start;
}

.right {
  text-align: right;
  align-items: flex-end;
}

footer {
  padding: 1em 10vw;
  text-align: center;
}

.club-holder p {
  width: 80%;
}
.right p{
  margin-left: auto;
  margin-right: 0;
}

#foot-container {
  font-size: 1.5rem; 
  color: black;
}
